body {
    overflow-x: hidden;
}

.tabContent {
    display:none;
}

#businessOwner {
    display:block;
}

.row button {
    background-color: #ccc;
    border: none;
    padding: 15px;
}

.row button:hover {
    text-decoration: underline;
}

.row button.active {
    background-color: #353CDD;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

form button {
    background-color: #353CDD;
    color: white;
    padding: 15px;
    border-radius: 20px;
    border-color:transparent;
    width:150px;
}

fieldset {
    display: none;
}

#real_estate {
    display: block;
}