body {
    overflow-x: hidden;
}

#two-hands {
    width: 15%;
}

#helping-hand {
    width: 50%;
    margin-left:10%;
}

.container2 {
    background-color: #353CDD;
    margin-left:-1%;
    width:102%;
    padding:2%;
}

header a {
    color: white;
    text-decoration:none;
    padding:2%;
    cursor: pointer;
}

header a:hover {
    background-color: white;
    color: black;
    transition: 1s;
}

#login {
    margin-left:60%;
}

#delete, #login, #login1 {
    color: white;
}

#delete:hover, #login:hover, #login1:hover {
    color: black;
    transition: 1s;
}

footer {
    width: 100%;
    background-color: #353CDD;
    color: white;
    padding: 20px;
}

footer h3, footer nav {
    text-align: center;
}

footer h3 {
    font-weight: bold;
}

footer a {
    padding: 2%;
    color:white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:white;
}