<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
    <title>{{OwnerName}}</title>
    <link href="/css/businessOwner.css" rel="stylesheet">
</head>
<body>
    <header>
        {{>header}}
        <div class="container2">
            <a href="/">Home</a>
            <a href="about">About</a>
            <a id="login" onclick="openModal1()">Logout</a>
            <a id="delete" onclick="openModal()">Delete account</a>
        </div>
    </header>
    <div id="Modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Are you sure you want to delete your account?</p>
                </div>
                <div class="modal-body">
                    <button id="yes"><a href="/deleteBusinessOwner/{{OwnerName}}/{{OwnerEmail}}">Yes</a></button>
                    <button id="no" onclick="closeModal()">No</button>
                </div>
            </div>
    </div>
    <div id="Modal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p>Are you sure you want to logout of your account?</p>
            </div>
            <div class="modal-body">
                <button id="yes"><a href="/">Yes</a></button>
                <button id="no" onclick="closeModal1()">No</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid">
                <button class="tabLinks" onclick="openContent(event, 'profile')">Profile information</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button class="tabLinks" onclick="openContent(event, 'connected')">Connected collaborators</button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button class="tabLinks" onclick="openContent(event, 'available')">Available collaborators</button>
            </div>
        </div>
    </div><br>
    <div id ="profile" class="tabContent">
        Name: {{OwnerName}}<br><br>
        Email address: {{OwnerEmail}}<br><br>
        <button id="edit" onclick="openModal2()">Edit profile</button>
        <div id="Modal2" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <a onclick = "closeModal2()">< Back</a><br><br>
                </div>
                <div class="modal-body">
                    <form action="/updateBusinessOwner/{{OwnerName}}/{{OwnerEmail}}" method="post">
                        <label for="name">Name: </label>
                        <input type="text" name="name" value="{{OwnerName}}"><br><br>
                        <label for="email">Email address: </label>
                        <input type="email" name="email" value="{{OwnerEmail}}"><br><br>
                        <button id="save">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="connected" class="tabContent">
        {{#connected}}
            Name: {{name}}<br><br>
            Email address: {{email}}<br><br>
            Business name: {{business}}<br><br>
            Business category: {{category}}<br><br>
            Services: {{services}}<br><br>
        {{/connected}}
        {{^connected}}
            <p>No connected collaborator.</p>
        {{/connected}}
    </div>
    <div id="available" class="tabContent">
        {{#collaboratorProfile}}
        <form action="/connectCollaborator/{{OwnerName}}/{{OwnerEmail}}/{{name}}/{{email}}/{{business}}/{{category}}/{{services}}" method="post">
            <label for="name">Name: </label>
            <input type="text" name="name" value="{{name}}" readonly><br><br>
            <label for="email">Email address: </label>
            <input type="email" name="email" value="{{email}}" readonly><br><br>
            <label for="business">Business name: </label>
            <input type="text" name="business" value="{{business}}" readonly><br><br>
            <label for="category">Business category: </label>
            <input type="text" name="category" value="{{category}}" readonly><br><br>
            <label for="services">Email address: </label>
            <input type="text" name="services" value="{{services}}" readonly><br><br>
            <button id="connect"></button>
        </form>
        {{/collaboratorProfile}}
        {{^collaboratorProfile}}
            <p>No available collaborator.</p>
        {{/collaboratorProfile}}
    </div>
</body>
</html>