<div class="container-fluid">
            <div class="container1">
                <img src="/1x/Two-hands.png" alt="logo" id="two-hands">
                <img src="/1x/helping hand.png" alt="helping hand" id="helping-hand">
            </div>
</div>